@use 'src/styles/abstracts' as abs;

.btn-primary {
  display: inline-block;
  padding: abs.rem(8) abs.rem(16);
  border-radius: abs.rem(4);
  cursor: pointer;
  border: 1px solid transparent;
}

.button {
  @include abs.flex(row, nowrap, center, center);
  width: abs.rem(220);
  padding: abs.rem(10) abs.rem(15);
  gap: abs.rem(15);
  background-color: abs.$color-button-bg;
  outline: 3px abs.$color-button-bg solid;
  outline-offset: -3px;
  border-radius: abs.rem(5);
  border: none;
  cursor: pointer;
  color: abs.$color-white;
  transition: 400ms;

  &.inverted,
  &.button--inverted,
  &.button-white {
    background-color: abs.$color-white;
    outline-color: abs.$color-white;
    color: abs.$color-black;

    &:hover {
      background-color: abs.$color-button-bg;
      outline-color: abs.$color-button-bg;
      color: abs.$color-white;
    }
  }

  &.button-outline-white:hover {
    outline-color: abs.$color-white;
  }
}

.button .text {
  color: inherit;
  font-weight: 700;
  font-size: abs.$font-size-base;
  transition: 400ms;
}

.button ng-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  transition: 400ms;
}

.button:hover {
  background-color: abs.$color-white;
  outline-color: abs.$color-white;
  color: abs.$color-black;
}

