@use 'src/styles/abstracts' as abs;

:root {
  --flip-hint-icon: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%20fill='none'%20stroke='%23000'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%3E%3Cpath%20d='M3%2012a9%209%200%200%201%209-9%209.75%209.75%200%200%201%206.74%202.74L21%208'/%3E%3Cpath%20d='M21%203v5h-5'/%3E%3Cpath%20d='M21%2012a9%209%200%200%201-9%209%209.75%209.75%200%200%201-6.74-2.74L3%2016'/%3E%3Cpath%20d='M3%2021v-5h5'/%3E%3C/svg%3E");
}

html {
  scroll-behavior: smooth;
  background-color: abs.$color-bg-dark-1;
  overflow-x: clip;

  &:has(body.dark) {
    background-color: abs.$color-bg-dark-1;
  }
}

body {
  background: abs.$color-bg-dark-1;
  color: abs.$color-text-primary;
  min-height: 100vh;
  margin: 0;
  padding:0;
  font-family: sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
  overflow-x: clip;

  &.dark {
    background: abs.$color-bg-dark-1;
    color: abs.$color-text-dark-primary;
  }


}

.content-container {
  @include abs.maxWidth;
  margin: 0 auto;
  padding: 0 16px;
}

app-legal-notice,
app-privacy-policy {
  display: block;
  padding-top: 80px;
}

html.no-scroll,
body.no-scroll {
  overflow-y: clip;
}
